<div class="student-card {{ student.dept | lowercase }}-shadow" *ngIf="student">
    <div class="student-card-inner">
      <div style="width: 50%; height: auto; margin: auto">
        <ng-lottie [options]="options"></ng-lottie>
      </div>
  
      <div class="card-name">{{ student.name }}</div>
      <div class="card-roll">
        <span style="font-size: small; margin: 0px 15px 0px 0px">Roll</span
        >{{ student.roll }}
      </div>
      <div class="card-dept">
        <span style="font-size: small; margin: 0px 15px 0px 0px">Dept</span
        >{{ student.dept }}
      </div>
      <div class="card-year">{{ setSubscript(student.year) }} Year</div>
      <div class="card-sex">{{ student.sex }}</div>
      <div class="card-phone {{student.dept| lowercase}}-card-phone" >
        <i class="fas fa-phone-alt" style="margin-right: 10px"></i
        >{{ student.phone }}
      </div>
      <div class="card-address">
        <i class="fas fa-home" style="margin-right: 10px; font-size: larger"></i
        >{{ student.address }}
      </div>
    </div>
  </div>
  
  <div *ngIf="searching" style="width: 50%; margin: auto; color: white; font-size: 2rem;">
  
    <ng-lottie [options]="options"></ng-lottie>
  
  </div>
  
  <div *ngIf="!searching && !student" style="width: 50%; margin: auto; color:red; font-size: 2rem;">
    <div style="width: 50%; height: auto; margin: auto">
      <ng-lottie [options]="options"></ng-lottie>
    </div>
    <div style="width: 50%; margin: auto;font-weight: bold; text-align: center;">Student record not found</div>
    
  </div>
  